h2{
    text-align: center;
}

.d-flex.align-items-center.justify-content-center.min-vh-100{
    background: url('https://cdn.website.dish.co/media/2b/9c/825554.jpg');
    position:relative;
    display: inline-block;
}

.div-conozcanos{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-fluid{
    box-shadow: -10px -10px 0px #d0a772;
    max-width: 100%;
    height: auto;
    transition: ease-out 0.4s;
}

.img-fluid:hover{
    transform: scale(1.05);
}

.inner-column h1{
    font-family: 'Arbutus Slab' , serif;
    font-size: 30px;
    color: #010101;
}

.inner-column h4{
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

.inner-column p{
    font-size: 16px;
    color: #666666;
    line-height: 1.8;
    font-family: 'Athiti', sans-serif;
    font-weight: 400;
}

.div-menu{
    background-image: url("../storage/fondo-menu.jpg");
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-attachment: fixed;
    background-position:center center;
    background-size: cover;
    min-height: 450px;
    border-bottom: 50px solid #ff9800;
}

.p1-menu{
    position: relative;
    padding: 0 60px 5px;
    max-width: 100%;
    font-family: 'Open Sans'!important;
    font-weight: bold!important;
    color: #ff9800;
    text-align: center;
    font-size: 45px;
    margin-top: -50px;
    background: rgba(255, 255, 255, 0.7);
}

.p2-menu{
    position: relative;
    padding: 0 15px 5px;
    max-width: 100%;
    font-family: 'Pacifico'!important;
    font-weight: normal!important;
    color: black;
    text-align: center;
    font-size: 45px;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #ff9800;
    color: #ffffff!important;
    border-radius: 4px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover,
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:active {
    background: #ff9800;
    color: #ffffff;
    border-radius: 4px;
}

.h1-conozcanos{
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}

.h1-conozcanos::before,
.h1-conozcanos::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #ff9800 ;
    margin: -10px 1rem;
    width: 40px;
    height: 1px;
    left: 0;
    transform: translateY(-1rem);
}

.display-1{
    font-size: 45px!important;
    max-width: 700px;
    margin: -50px auto -20px!important;
    padding: 0 0 20px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: normal!important;
    color: #fff;
    margin: 0;
    line-height: inherit;
    font-family: 'Pacifico' !important;
    z-index: 1;
}

.navbar  {
    background: rgba(0,0,0,0.87)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: white!important;
}

.d-flex.align-items-center.justify-content-center.min-vh-100:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.35);
  }

  .d-flex {
    display: flex !important;
    flex-direction: column;
}



.btn-reserva-header {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #cfa671;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #ff9800;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .1875rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: ease-out 0.3s;
    text-decoration: none;
    background-color: #ff9800;
    box-shadow: -5px -5px 0px black;
}

.btn-reserva-header:hover {
    background-color: #ff9800;
    transform: scale(1.1);
    text-decoration: none;
    color: black;
}

.p-boton-reserva{
    z-index: 1;
    margin-top: 50px;
}

.inner-column p{
    margin: 10px 0 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.img-fluid{
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa {
    padding: 12px;
    font-size: 30px!important;
    width: 60px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: 5px 5px;
    transition: ease-out 0.4s;
  }

.fa:hover {
    opacity: 0.9;
    transform: scale(1.15);
}
.fa-instagram {
    background: #125688;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .social-media-icons{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  @media (min-width: 992px){
  .col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}
.special-list{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.img-fluid2 {
    max-width: 100%;
    height: auto;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.why-text h4 {
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Arbutus Slab', serif;
}

.why-text p {
    text-align: center;
}

.why-text h5 {
 text-align: center;
}

.why-text p {
    color: #ffffff;
    font-size: 18px;
    border-bottom: 1px dashed #010101;
    margin: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}

.menu-box{
    margin-top: 50px;
}

.btn-carta{
    margin-top: 30px;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #cfa671;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #ff9800;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .1875rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: ease-out 0.3s;
    text-decoration: none;
    background-color: #ff9800;
    box-shadow: -5px -5px 0px black;
}

.btn-carta:hover {
    background-color: #ff9800;
    transform: scale(1.1);
    text-decoration: none;
    color: black;
}

.reservation-box{
    background: url('../storage/fondo-reserva.jpg') no-repeat 50% 50%;
    text-align: center;
    overflow: hidden;
    padding: 20px 20px 20px;
    background-size: cover;
}

.p1-reserva{
    position: relative;
    padding: 0 60px 5px;
    max-width: 100%;
    font-family: 'Open Sans'!important;
    font-weight: bold!important;
    color: black;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.7);
}

.p2-reserva{
    position: relative;
    padding: 0 15px 5px;
    max-width: 100%;
    font-family: 'Pacifico'!important;
    font-weight: normal!important;
    color: #ff9800;
    text-align: center;
    font-size: 45px;
}


#contactForm h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Arbutus Slab', serif;
}

.fa-phone{
    margin: 0 auto 10px;
    line-height: 1!important;
    font-size: 50px!important;
    color: #fff;
}

.telefono{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
}

.telefono:hover,
.phone-link:hover{
    text-decoration: none;
}

.brand-titleFont {
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
    font-size: 45px;
    text-align: center;
}


.brand-color {
    color: #ff9800 !important;
}

.brand-subtitleFont {
    font-family: 'Pacifico' !important;
    font-size: 45px;
    text-align: center;
}

.horario{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.divider-mark {
    width: 80px;
    height: 4px;
    margin: 30px auto;
    background-color: #ff9800 !important;
}

.regular th{
    text-align: left;
    padding-right: 170px;
    padding-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
    vertical-align: top;
}

.regular td{
    text-align: right;
    white-space: nowrap;
    padding-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
    vertical-align: top;
}

.formas-pago{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.payment-list {
    margin-top: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.payment-list li {
    display: inline-block;
    margin: 8px;
    width: 100px;
    vertical-align: top;
}

.gallery-box {
    padding: 0px 50px;
    margin-bottom: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tz-gallery {
    margin-top: 30px;
}

@media (min-width: 992px){
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}

.img-fluid3 {
    max-width: 100%;
    height: auto;
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgb(0 0 0 / 30%);
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.services-list li {
    display: inline-block;
    margin: 0 10px 20px;
    width: 140px;
    vertical-align: top;
}

.services-list i {
    border: 5px solid #cccccc;
    border-radius: 50%;
    background: #fff;
    font-size: 60px!important;
    line-height: 80px;
    width: 120px;
    height: 120px;
    margin: 0 0 10px;
}

.nuestros-servicios{
    margin-bottom: 50px;
}

.contact-block-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 992px){
    .contact-block {
        margin: 0 24px 48px 24px;
    }
}

.contact-block2 {
    width: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #efefef;
    box-sizing: border-box;
    margin: 0 12px 24px 12px;
    vertical-align: middle;
}

.contact-block2 a {
    display: block;
    padding: 15px;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    word-break: break-all;
    font-size: 12px;
}

.contact-block2 a h3 {
    display: block;
    margin: 14px 0;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.formulario-contacto2{
    max-width: 790px;
    background: #efefef;
    box-sizing: border-box;
    margin: 0 auto 48px;
    padding: 24px;
    vertical-align: middle;
} 